/* Global Styles */
.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.pptt {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.imiji {
  width: 100px;
  height: auto;
}

.pptt h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.pptt p {
  margin: 0.3rem 0;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.quantity-control button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.quantity-control button:hover {
  background-color: #0056b3;
}

.quantity-control input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  border-radius: 20px;
}

button:hover {
  background-color: #0056b3;
}

.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.text1 {
  font-weight: bold;
}

.checkout-button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
}


@media only screen and (min-width: 600px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .cart-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .pptt {
    flex-direction: column;
    align-items: center;
  }

  .imiji {
    width: 100px;
    height: auto;
  }

  .pptt h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .pptt p {
    margin: 0.3rem 0;
  }

  .total-price {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .checkout-button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
  }
}
