/* Global Styles */
.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.pptt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imiji {
  width: 100px;
  height: auto;
}

.pptt h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.pptt p {
  margin: 0.3rem 0;
}



button:hover {
  background-color: #0056b3;
}

.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.text1 {
  font-weight: bold;
}

.checkout-button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
}

/* Styles for screens with max-width: 600px */
@media only screen and (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }

  .pptt {
    align-items: flex-start;
    width: 100%;
  }

  .imiji {
    width: 100%;
    max-width: 150px;
    margin-bottom: 1rem;
  }

  .pptt h2 {
    font-size: 1.5rem;
  }

  .pptt p {
    font-size: 1rem;
  }

  .total-price {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .checkout-button {
    padding: 0.5rem 1rem; /* Smaller padding */
    font-size: 0.9rem; /* Smaller font size */
    text-align: center;
    margin-top: 1rem;

  }

  button {
    padding: 0.4rem 0.8rem; /* Smaller padding for other buttons */
    font-size: 0.9rem; /* Smaller font size for other buttons */
  }
}

/* Styles for screens with min-width: 600px */
@media only screen and (min-width: 600px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
  .cart-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .pptt {
    flex-direction: column;
    align-items: center;
  }

  .imiji {
    width: 100px;
    height: auto;
  }

  .pptt h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .pptt p {
    margin: 0.3rem 0;
  }

  .total-price {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .checkout-button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
  }
}
